In [2]:
import pandas as pd

In [3]:
series=pd.Series(['BMW','TATA','Mahindra','Toyota'])

In [4]:
series       #single dimension

0         BMW
1        TATA
2    Mahindra
3      Toyota
dtype: object

In [5]:
colours=pd.Series(["Red","Yellow","Blue","Green"])
colours
car_data=pd.DataFrame({"Factory":series,"Colour":colours})

In [6]:
car_data

    Factory  Colour
0       BMW     Red
1      TATA  Yellow
2  Mahindra    Blue
3    Toyota   Green

In [7]:
#making this data into spreadhseet or excel sheet
datas=pd.read_csv("ff.csv")

In [8]:
datas

,,MONDAY,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,TUESDAY,Unnamed: 9,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Saturday,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
0,NaN,P1,P2,P3,P4,P5,P6,P7,P1,P2,...,P5,P6,P7,P1,P2,P3,P4,P5,P6,P7
1,ECE1,NaN,DVD,DIP,ES,ADC,Telugu/MA,TELUGU /MA,ML,DVD,...,Robotics,NaN,NaN,Telugu/MA,AI,HRD,CDC,MINIproject,NaN,NaN
2,ECE2,AI,HRD,NaN,DVD,NaN,NaN,NaN,ML,CDC,...,English 3,NaN,NaN,NaN,MINIproject,MINIproject,NaN,CDC,NaN,NaN
3,ECE3,Artificial,ML,CDC,DIP,NaN,NaN,NaN,PDI,DIP,...,Miniproject,ES,MINiproject,NaN,NaN,DVD,HRD,AI,Miniproject,NaN
4,ECE4,MINI Project,ES,NaN,NaN,NaN,NaN,NaN,ML,NaN,...,NaN,HRD,DVD,NaN,DVD,Miniproject,NaN,CDC,DVD,CDC
5,ECE5,MINIproject,ML,HRD,NaN,NaN,NaN,NaN,AI,NaN,...,NaN,Miniproject,Iniproject,NaN,ES,ES,NaN,English-3,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,S.NO,COURSE CODE,Subject Name,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,1,EC3217,Digital Image Processing,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,2,EC3224,Digital VLSI System Design,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,3,EC3226,Embedded Systems,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,4,EC3201,Advanced Digital Communications(,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,5,EC3253,Machine Learning,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,6,EC3250,Artificial Intelligence,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,7,MA3201,Matrix Algebra,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,8,TE1OE301,Classical Literary forms,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,9,TE1OE502,FOLKLORE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,10,HS3202,Human Resource Development & Organization beha...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,11,EG3283,English-3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,12,MG3201,Product Design & Innovation,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,13,MC3201,Career Development Course,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,14,EC3215,Artificial Neural Networks,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,15,EC3254,Robotic Operting System,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,"DIP- ECE1,ECE2 Assemble in ECE1",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,"DIP-ECE3,ECE4,ECE5 Assemble in ECE3",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,"IML -ECE1,ECE2,ECE4 Assemble in ECE2",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,"IML-ECE3,ECE5 Assemble in ECE3",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,"ADC-ECE1,ECE2,ECE3,ECE4,ECE5 Assemble in ECE1",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,Artificial Nural Networks -NTPL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,Robotics Stystems-NTPL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,Artifical Intelligence-NTPL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Exporting a dataframe
datas.to_csv("newone.csv")

## Describe data

In [10]:
datas.dtypes

               object
MONDAY         object
Unnamed: 2     object
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6     object
Unnamed: 7     object
TUESDAY        object
Unnamed: 9     object
Unnamed: 10    object
Unnamed: 11    object
Unnamed: 12    object
Unnamed: 13    object
Unnamed: 14    object
WEDNESDAY      object
Unnamed: 16    object
Unnamed: 17    object
Unnamed: 18    object
Unnamed: 19    object
Unnamed: 20    object
Unnamed: 21    object
THURSDAY       object
Unnamed: 23    object
Unnamed: 24    object
Unnamed: 25    object
Unnamed: 26    object
Unnamed: 27    object
Unnamed: 28    object
Friday         object
Unnamed: 30    object
Unnamed: 31    object
Unnamed: 32    object
Unnamed: 33    object
Unnamed: 34    object
Unnamed: 35    object
Saturday       object
Unnamed: 37    object
Unnamed: 38    object
Unnamed: 39    object
Unnamed: 40    object
Unnamed: 41    object
Unnamed: 42    object
dtype: object

In [11]:
datas.columns

Index([' ', 'MONDAY', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'TUESDAY', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'WEDNESDAY',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'THURSDAY', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Friday',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Saturday', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42'],
      dtype='object')

In [12]:
 datas.index

RangeIndex(start=0, stop=33, step=1)

In [13]:
datas.describe()

,,MONDAY,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,TUESDAY,Unnamed: 9,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Saturday,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
count,5,21,22,20,4,2,10,2,6,4,...,4,4,4,2,5,6,3,6,3,2
unique,5,21,21,20,4,2,10,2,4,4,...,4,4,4,2,5,6,3,5,3,2
top,ECE1,6,ML,Digital Image Processing,DVD,P5,"DIP-ECE3,ECE4,ECE5 Assemble in ECE3",TELUGU /MA,ML,DVD,...,P5,Miniproject,DVD,Telugu/MA,AI,DVD,CDC,CDC,Miniproject,CDC
freq,1,1,2,1,1,1,1,1,3,1,...,1,1,1,1,1,1,1,2,1,1

  ## viewing and Selecting data

In [15]:
datas.head(2)

,,MONDAY,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,TUESDAY,Unnamed: 9,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Saturday,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
0,NaN,P1,P2,P3,P4,P5,P6,P7,P1,P2,...,P5,P6,P7,P1,P2,P3,P4,P5,P6,P7
1,ECE1,NaN,DVD,DIP,ES,ADC,Telugu/MA,TELUGU /MA,ML,DVD,...,Robotics,NaN,NaN,Telugu/MA,AI,HRD,CDC,MINIproject,NaN,NaN

In [27]:
#.loc and .iloc

animals=pd.Series(["Cat","Dog","Bird","Snakes"],index=[3,9,8,3])

In [28]:
animals.loc[9]

'Dog'

In [29]:
animals

3       Cat
9       Dog
8      Bird
3    Snakes
dtype: object